.postListContainer {
  margin: 0 auto;
  max-width: 850px;
  display: grid;
  grid-gap: 20px;
  padding: 10px;
}

.post_top {
  display: flex;
  background: #adaeb1;
}

.dates {
  margin: 10px;
  margin-top: 70px;
}

.dates_component > p {
  display: flex;
  width: 100%;
  text-align: center;
  margin: 0;
}

.postContainer {
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px 0 rgba(48, 45, 45, 0.05);
  transition: box-shadow 0.25s ease;
  padding: 1em;
}

.content_container {
  font-size: 16px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  border: 7px solid #adaeb1;
  border-radius: 0px 0px 5px 5px;
}

.titleContainer {
  align-items: center;
  border-radius: 5px;
  padding: 40px 20px 20px 20px;
  width: 100%;
  color: rgb(165, 192, 194);
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
}

.button {
  margin: 10px;
}
