.nav {
    position: center;
    width: 98%;
    color: rgb(235, 240, 233);
    margin: 0;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
    border-bottom: rgb(44, 2, 2) 5px solid;
}


.nav .icon {
    font-size: large;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  