.avatar_wrapper > img {
    max-width: 60px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px 10px 0 10px;
  }
  
  .username {
    font-weight: bolder;
    color: rgb(15, 14, 14);
    font-size: 14px;
    text-align: center;
  }
  
  .text_content {
    padding: 25px;
    font-weight: 500;
    text-align: start;
  }
  